<mat-toolbar color="primary">
    <button mat-icon-button [routerLink]="'/'">
      <mat-icon>house</mat-icon>
    </button>
    <span>Segundo Reto</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="'/marcas'">
        Marcas
    </button>
    <button mat-button [routerLink]="'/proveedores'">
        Proveedores
    </button>
    <button mat-button [routerLink]="'/productos'">
        Productos
    </button>
</mat-toolbar>

<div class="main-container">
    <router-outlet></router-outlet>
</div>
